@charset "UTF-8";

*{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: face;
    src: url(font/Pacifico-Regular.ttf);
}

@font-face {
    font-family: fontizinha;
    src: url(font/Lobster-Regular.ttf);
}

@font-face {
    font-family: dancinha;
    src: url(font/DancingScript-VariableFont_wght.ttf);
}

:root {
    --font1:face ;
    --font2:fontizinha;
    --font3:dancinha;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    height: 180px;
}
header > h1 {
    font-size: 9vw;
    font-family: var(--fontt);
    padding: 50px 10px 10px 10px;
    font-family: var(--font2);
}
header > p {
    font-variant: small-caps;
    padding: 10px;
    background-color: black;
    color: white;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

blockquote.normal {
    background-color: white;
    color: black;
    font-family: var(--fontn);
    font-size: 4vw ;
    line-height: 2.2em;
}
blockquote.normal > p {
    padding: 30px 0px 50px 20px;
    font-family: var(--font1);
    font-size: 6vw;
}

blockquote.img {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.534);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
blockquote.img > p {
    background-color: rgba(10, 10, 10, 0.445);
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 50px 50px 50px 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 6vw;
    font-family: var(--font3);
    line-height: 2.2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.836);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.164);
}
#chapeleiro {
    background-image: url(imagens/johnny-depp-johnny-depp-mad-hatter-alice-in-wonderland-wallpaper-preview.jpg);
}
#gato {
    background-image: url(imagens/gato.jpg);
}
#noite {
 background-image: url(imagens/noite.jpg!d);
}
#raposa {
    background-image: url(imagens/pequeno-principe-e-raposa-1200x800.webp);
}
.alice::after {
    content: 'Alice no Pais das Maravilhas';
    font-size: 10px;
    
}
.pequeno::after {
    content: 'O Pequeno Príncipe';
    font-size: 10px;
    
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}