@charset "UTF-8";

*{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --fontt: 'Fjalla One', sans-serif;
    --fonta: 'Pacifico', cursive;
    --fontp: 'Shadows Into Light', cursive;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    height: 180px;
    box-shadow: 0px 3px 3px black;
}
header > h1 {
    font-size: 5vh;
    font-family: var(--fontt);
    padding: 50px 10px 10px 10px;
}
header > p {
    padding: 10px;
    background-color: black;
    color: white;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
blockquote {
    padding: 10px;
    line-height: 2em;
}

blockquote.normal {
    background-color: white;
    color: black;
    width: 98vw;
    box-shadow: inset 5px 5px 5px black;
}

blockquote.img {
    margin: 10px 10px 10px 20px;
    border-radius: 10px;
    padding: 10px;
}
blockquote.img > p {
    background-color: darkgray;
    color: black;
    display: inline-block;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}